#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  background-color: #111;
  color: white;
  font-family: "Poiret One", sans-serif;
  font-weight: 900
}

@import "tailwindcss";

.nav-button:active {
  transform: scale(0.95);
}

.nav-button svg {
  width: 24px;
  height: 24px;
  stroke-width: 2.5;
}
